<!DOCTYPE html>
<html lang="en" ng-app="QuizApp">

<head>
    <title>Quiz</title>
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
</head>

<body>
    <div ng-controller="QuizCtrl as ctrl" class="container">
        <form ng-submit="ctrl.submitAnswer()" class="form-group">
            <h3> Question: {{ ctrl.question }}</h3>
            <h3>Answers: </h3>
            <div ng-repeat="option in ctrl.options">
                <input type="radio" name="choices" ng-model="ctrl.choice" ng-value="{{$index}}"> {{ option }}
            </div>
            <div>
                <h3>Comments</h3>
                <input type="text" ng-model="ctrl.comments" class="form-control">
            </div>
            <hr>
            <input type="submit" class="btn btn-success">
        </form>
        <div>{{ctrl.status}}</div>
    </div>

    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./js/app.js"></script>
</body>

</html>