<!DOCTYPE html>
<html lang="en" ng-app="RegApp">

<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body ng-cloak>
    <div class="col-sm-2 col-lg-4"></div>
    <div ng-controller="RegistrationCtrl as ctrl" class="col-sm-8 col-lg-4 registration-page">
        <h1> Registration </h1>
        <form name="registrationForm" ng-submit="registrationForm.$valid && ctrl.registerUser()" novalidate>
            <!-- novalidate disables the browser validation -->
            <div class="form-group">
                <label for="email">Email address</label>
                <input id="email" name="email" type="email" placeholder="you@domain.com" class="form-control" ng-model="ctrl.user.email"
                    required/> {{ "hi " + ctrl.user.email }}
                <div class="validation" data-ng-show="registrationForm.email.$touched || registrationForm.$submitted">
                    <div data-ng-show="registrationForm.email.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Email is mandatory.
                    </div>
                    <div data-ng-show="registrationForm.email.$error">
                        <span class="glyphicon glyphicon-alert"></span> Email is invalid.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input id="password" name="password" type="password" class="form-control" ng-model="ctrl.user.password" required minlength="8"
                    ng-pattern="/^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/" /> {{ ctrl.user.password
                }}
                <div class="validation" data-ng-show="registrationForm.password.$touched || registrationForm.$submitted">
                    <div data-ng-show="registrationForm.password.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Password is required.
                    </div>
                    <div data-ng-show="registrationForm.password.$error.minlength">
                        <span class="glyphicon glyphicon-alert"></span> Password must be at least 8 characters long.
                    </div>
                    <div data-ng-show="registrationForm.password.$error.pattern">
                        <span class="glyphicon glyphicon-alert"></span> Password must include at least one number, a special
                        character and a upper and lowercase.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input id="confirmPassword" name="confirmPassword" type="password" class="form-control" ng-model="ctrl.user.confirmPassword"
                    required /> {{ ctrl.user.confirmPassword }}
                <div class="validation" data-ng-show="registrationForm.confirmPassword.$touched || registrationForm.$submitted">
                    <div data-ng-show="registrationForm.confirm-password.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Password is required.
                    </div>
                    <div data-ng-show="ctrl.user.password != ctrl.user.confirmPassword">
                        <span class="glyphicon glyphicon-alert"></span> Passwords do not match.
                    </div>

                </div>
            </div>
            <div class="form-group">
                <label for="fullname">Full Name</label>
                <input id="fullname" name="fullname" type="text" class="form-control" ng-model="ctrl.user.name" /> {{ ctrl.user.name
                }}
            </div>
            <div class="form-group">
                <label for="gender">Gender</label>
                <br/>
                <input id="gender" name="gender" type="radio" value="M" ng-model="ctrl.user.gender" ng-checked="true" />                Male
                <br/>
                <input id="gender" name="gender" type="radio" value="F" ng-model="ctrl.user.gender" /> Female
                <br/> {{ ctrl.user.gender }}
                <div data-ng-show="ctrl.isFemale() == false">
                    <span class="glyphicon glyphicon-alert"></span> Only females
                </div>
            </div>
            <div class="form-group">
                <label for="dateOfBirth">Date of Birth</label>
                <input id="dateOfBirth" name="dateOfBirth" type="date" class="form-control" ng-model="ctrl.user.dob" /> {{
                ctrl.user.dob }}
                <div data-ng-show="ctrl.isAbove18() == false">
                    <span class="glyphicon glyphicon-alert"></span> Must be above 18
                </div>
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <input id="address" name="address" type="text" class="form-control" ng-model="ctrl.user.address" required />                {{ ctrl.user.address }}
                <div class="validation" data-ng-show="registrationForm.address.$touched || registrationForm.$submitted">
                    <div data-ng-show="registrationForm.address.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Address is required.
                    </div>

                </div>
            </div>
            <div class="form-group">
                <label for="nationality">Nationality</label>
                <select class="form-control" id="nationality" ng-model="ctrl.user.nationality" required>
                <option value="Singaporean">Singaporean</option>
                <option value="Malaysian">Malaysian</option>
                <option value="Thai">Thai</option>            
            </select> {{ ctrl.user.nationality }}
                <div class="validation" data-ng-show="registrationForm.nationality.$touched || registrationForm.$submitted">
                    <div data-ng-show="registrationForm.nationality.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Nationality is required.
                    </div>

                </div>
            </div>
            <div class="form-group">
                <label for="contactNumber">Contact number</label>
                <input id="contactNumber" name="contactNumber" type="text" class="form-control" ng-model="ctrl.user.contact" ng-pattern="/^[3,6,8-9]{1}[\d]{7}$/"
                    required/> {{ ctrl.user.contact }}
                <div class="validation" data-ng-show="registrationForm.contactNumber.$touched || registrationForm.$submitted">
                    <div data-ng-show="registrationForm.contactNumber.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Contact number is required.
                    </div>
                    <div data-ng-show="registrationForm.contactNumber.$error.pattern">
                        <span class="glyphicon glyphicon-alert"></span> Must be a Singapore tel number.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <hr/>
                <input id="submit" name="submit" type="submit" class="btn btn-success" />
            </div>
        </form>
    </div>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/js/app.js"></script>
</body>

</html>